{% extends 'base.html.twig' %}

{% block title %}Payer avec stripe!
{% endblock %}

{% block body %}
  <div class="w3-container">
    <div class="w3-panel w3-pale-green w3-border">
      <h3>Success!</h3>
      <p>Votre paiement a été accepter. Merci!</p>
    </div>
  </div>

{% endblock %}
